/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

header, 
footer {
  color: white;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
  background-color: #23272a;
  font-size: 0.8rem;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.row {
  justify-content: center;
}

.flex {
  display: flex;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  line-height: 35px;
}

.column-img {
  text-align: center;
}

/* button */
.btn-big{
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 30px;
}

.btn-small{
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 20px;
}

.white-black {
  background-color: white;
  color: black;
}

.black-white {
  background-color: black;
  color: white;
}

.blue-white {
  background-color: #7289da;
  color: white;
}

/* fine button */

/* HEIGHT-DEBUG da eliminare */
.top-footer > * {
  height: 350px;
}
/* fine HEIGHT-DEBUG da eliminare */

/* HEADER */
header .top-header {
  background-color: #255ee9;
  height: 80px;
}

header .top-header .container,
.t-head-row {
  height: 100%;
}

header .bottom-header {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
  padding: 130px 0;
}

/* top-header */
.t-head-row {
  font-size: 0.7rem;
  justify-content: space-between;
  align-items: center;
}

.t-head-row nav ul {
  list-style-type: none;
}

.t-head-row nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
}

header .btn-small {
  text-decoration: none;
}
/* fine top-header */

/* bottom-header */
.bottom-header {
  justify-content: center;
  align-items: center;
}

.b-head {
  max-width: 800px;
  width: 90%;
  min-width: 600px;
  text-align: center;
}

.b-head h1 {
}

.b-head p {
  margin-bottom: 20px;
}

.b-head a {
  margin: 0 20px;
}

/* fine bottom-header */
/* fine HEADER */

/* MAIN */
main section:nth-child(even) {
  background-color: lightgray;
}

main section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.column-img {
  width: 65%;
}

.column-txt {
  width: 35%;
  padding: 25px;
}

.column-center {
  padding-bottom: 150px;
}

.column-center .container {
  text-align: center;
}

.column-center .container .cta span {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  width: 600px;
  margin: 50px auto;
  padding: 60px 50px 0px 50px;
  background-image: url(../img/stars.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.column-center .txt-up {
  padding: 0 80px;
}

.column-center .img-big {
  width: 100%;
}
/* fine MAIN */

/* FOOTER */
.top-footer {
  padding-top: 70px;
  padding-bottom: 40px;
  border-bottom: 2px solid #7289da;
}

.top-footer .row > nav {
  flex-grow: 1;
  background-color: darkorange;
  border: 1px dotted black;
}

 .top-footer .social{
  flex-grow: 1.5;
  background-color: red;
  border: 1px dotted black;
 }

 .bottom-footer {
  padding-top: 5px;
  padding-bottom: 20px;
 }

 .bottom-footer .row {
  background-color: aquamarine;
  justify-content: space-between;
 }

 footer .logo,
 footer .registrati {
   background-color: darkolivegreen;
   border: 1px dotted black;
   padding: 5px;
 }

/* fine FOOTER */

