/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

header, 
footer {
  color: white;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
  background-color: #23272a;
  font-size: 0.8rem;
}

.container {
  max-width: 1200px;
  width: 98%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* HEIGHT-DEBUG da eliminare */

.container .boxed-img,
.container .boxed-txt {
  height: 400px;
}

.txt-up .container {
  height: 1000px;
}

.top-footer > * {
  height: 350px;
}
/* fine HEIGHT-DEBUG da eliminare */

/* HEADER */
header .top-header {
  background-color: #255ee9;
  height: 80px;
}

header .top-header .container,
.t-head-row {
  height: 100%;
}

header .bottom-header {
  background-color: #255ee9;
  padding: 20px 0;
}

/* top-header */
.t-head-row {
  font-size: 0.8rem;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  background-color: orange;
  border: 1px dotted black;
  padding: 5px;
}

.t-head-row nav ul {
  list-style-type: none;
}

.t-head-row nav a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
}

header .login {
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
}
/* fine top-header */

/* bottom-header */
.bottom-header {
  justify-content: center;
  align-items: center;
}

.b-head {
  max-width: 900px;
  width: 90%;
  min-width: 600px;
  text-align: center;
}

.b-head h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.b-head p {
  line-height: 35px;
  margin-bottom: 20px;
}

.b-head a {
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 30px;
  margin: 0 20px;
}

.b-head .scarica {
  background-color: white;
  color: black;
}

.b-head .scarica span {
  font-weight: 800;
  font-size: 1.5rem;
}

.b-head .apri {
  background-color: black;
  color: white;
}
/* fine bottom-header */
/* fine HEADER */

/* MAIN */
main section:nth-child(even) {
  background-color: lightgray;
}

main section {
  padding: 120px 0;
}

.boxed-img {
  background-color: dodgerblue;
  width: 60%;
}

.boxed-txt {
  background-color: darkkhaki;
  width: 40%;
}

.txt-up .container {
  background-color: green;
}
/* fine MAIN */

/* FOOTER */
.top-footer {
  padding-top: 70px;
  padding-bottom: 40px;
  border-bottom: 2px solid #7289da;
}

.top-footer .row > nav {
  flex-grow: 1;
  background-color: darkorange;
  border: 1px dotted black;
}

 .top-footer .social{
  flex-grow: 1.5;
  background-color: red;
  border: 1px dotted black;
 }

 .bottom-footer {
  padding-top: 5px;
  padding-bottom: 20px;
 }

 .bottom-footer .row {
  background-color: aquamarine;
  justify-content: space-between;
 }

 footer .logo,
 footer .registrati {
   background-color: darkolivegreen;
   border: 1px dotted black;
   padding: 5px;
 }

/* fine FOOTER */

